@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Container{
    <div class="container">
        <section class="home-section section3">
            <div class="home-section__title">
                <p>시스템 장애<br /> 비상연락망</p>
                <p class="home-section__title__sub">평일 9:00 - 18:00<br />온라인 접수를 남겨주세요</p>
            </div>
            <div class="home-section--cont">
                <div class="home-section--cont__box">
                    <div class="section3__link__box">
                        <div class="link__box section3">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title blue">
                                    <p>대표번호</p>
                                    <p>1522-7422</p>
                                </div>
                            </div>
                        </div>
                        <div class="link__box section3">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title black">
                                    <p>해상, 항공, EDI, 계산서</p>
                                    <p>010-9509-7422</p>
                                    <p>운영팀</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section3__link__box">
                        <div class="link__box section3">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title black">
                                    <p>해상, 항공, EDI, 계산서</p>
                                    <p>010-9525-7422</p>
                                    <p>FMS개발팀</p>
                                </div>
                            </div>
                        </div>
                        <div class="link__box section3">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title black">
                                    <p>창고, 운송, CFS</p>
                                    <p>010-9551-7422</p>
                                    <p>TWMS개발팀</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section section1">
            <div class="home-section__title">
                <p>원격지원</p>
            </div>
            <div class="home-section--cont">
                <div class="home-section--cont__box">
                    <div class="home-section__link">
                        <div class="link__box" id="Help-KOR">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title">
                                    <img src="~/Images/home_img1.png" /><span>kor</span>
                                </div>
                                <p>클라이언트용 원격지원</p>
                                <p>(한글)</p>
                            </div>
                        </div>
                        <div class="link__box" id="Help-ENG">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title">
                                    <img src="~/Images/home_img1.png" /><span>eng</span>
                                </div>
                                <p>클라이언트용 원격지원</p>
                                <p>(영문)</p>
                            </div>
                        </div>
                    </div>
                    <div class="home-section__link">
                        <div class="link__box" id="Help-SERVER">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title">
                                    <img src="~/Images/home_img1.png" /><span>Server</span>
                                </div>
                                <p>클라이언트용 원격지원</p>
                                <p>(서버)</p>
                            </div>
                        </div>
                        <div class="link__box" id="Help-ONLINE">
                            <div class="link__box-cont">
                                <div class="link__box-cont__title">
                                    <img src="~/Images/home_img2.png" />
                                </div>
                                <p>온라인 원격지원</p>
                                <p style="visibility:hidden;">.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section section2">
            <div class="home-section__list">
                <div class="home-section__title">
                    <p>엘비스21<br /> 매뉴얼</p>
                </div>
                <div class="home-section2--cont">
                    <div class="down-cont__list 21">
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 EDI메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 EDI메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 공통관리메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 공통관리메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 기초관리메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 기초관리메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 실적메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 실적메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 오더관리메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 오더관리메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 정산메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 정산메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 항공메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 항공메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 해운메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 해운메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS21 회계메뉴얼.pdf" class="down__list__title" target="_blank"><span>ELVIS21 회계메뉴얼.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-section__list">
                <div class="home-section__title">
                    <p>엘비스<br /> 매뉴얼</p>
                </div>
                <div class="home-section2--cont">
                    <div class="down-cont__list elvis">
                        <div class="down__list">
                            <a href="~/Files/ELVIS EDI 메뉴얼 V2.0.pdf" class="down__list__title" target="_blank"><span>ELVIS EDI 메뉴얼 V2.0.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS 기초관리 메뉴얼 V2.0.pdf" class="down__list__title" target="_blank"><span>ELVIS 기초관리 메뉴얼 V2.0.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS 항공 메뉴얼 V2.0.pdf" class="down__list__title" target="_blank"><span>ELVIS 항공 메뉴얼 V2.0.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS 해운 매뉴얼 V2.0.pdf" class="down__list__title" target="_blank"><span>ELVIS 해운 매뉴얼 V2.0.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                        <div class="down__list">
                            <a href="~/Files/ELVIS 회계 메뉴얼 V2.0.pdf" class="down__list__title" target="_blank"><span>ELVIS 회계 메뉴얼 V2.0.pdf</span><img src="~/Images/down--off.png" class="down--off" /><img src="~/Images/down--on.png" class="down--on" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="~/Scripts/JS/Home/home.js"></script>
}
}